@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,html {
	/* background-color: crimson; */
	background-color: white;
	/* font-family: "Poppins", sans-serif; */
}

/* Passion One */
.p-one-regular {
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p-one-bold {
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* BELLOTA FONTS */
.b-text-light {
	font-family: "Bellota Text", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.b-text-regular {
	font-family: "Bellota Text", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.b-text-bold {
	font-family: "Bellota Text", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.b-text-light-italic {
	font-family: "Bellota Text", sans-serif;
	font-weight: 300;
	font-style: italic;
}
  
.b-text-regular-italic {
	font-family: "Bellota Text", sans-serif;
	font-weight: 400;
	font-style: italic;
}
  
.b-text-bold-italic {
	font-family: "Bellota Text", sans-serif;
	font-weight: 700;
	font-style: italic;
}

/* POPPINS FONTS */
.p-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.p-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.p-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.p-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.p-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.p-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.p-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.p-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}