{% extends "_base.html" %}

{% block title %} | Delete course {% endblock title %}

{% block content %}
<section class="bg-blue-600 h-full w-full flex flex-col gap-5 justify-center items-center">
	<h1 class="text-2xl font-semibold text-gray-900">Delete course</h1>

	<div class="items-center text-center bg-white px-3">
		<form method="post">
			{% csrf_token %}
            <p class="mb-5">Are you sure you want to delete <span class="font-bold">"{{ object }}"</span> ?</p>
			<input type="submit" value="Confirm" class="text-white bg-red-600 hover:bg-red-900 px-3 py-2 rounded-lg cursor-pointer">
		</form>
	</div>

</section>

{% endblock content %}